@import '~bootstrap/scss/bootstrap';

:root

body {
  background-color: #D3D3D3;
}

/* Dark Mode styles */
body.dark-theme {
  color: #eee;
  background-color: #121212;
}

body.dark-theme .modal-content {
	color: #eee;
  background-color: #121212;
}

